footer{
    position: fixed;
    bottom: 0;
    width: 100vw;
    padding-bottom: 30px;
    padding-top: 20px;
    border-top: 1px solid #ededef;
    background-color: white;
}

.footer-block{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.footer-icons{
    font-size: 6px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 10px 0 10px;
    cursor: pointer;
}
.footer-icon__desc{
    font-weight: bold;
    font-family:sans-serif;
    transform: scale(0.8);
    margin-top: 5px;
}

@keyframes icons-doong-doong{
    0%{
        transform: translateY(0px);
    }
    40%{
        transform: translateY(-10px)
        }
    70%{
        transform: translateY(-10px)
    }    
    100%{
        transform: translateY(0px)
    }    
    }
.footer-icon__img{
    width: 25px;
    
}
.footer-icons:hover .footer-icon__img{
    animation: 1.5s icons-doong-doong;
}
